
*{
  text-align: justify;
  font-family: sans-serif;
}

.wrap{
  width: 600px;
  margin: auto;
  background-color: #e3e3e3;
}

.img-banner {
  display: none;
}
.headline,
.headline a,
.headline a:link,
.headline a:visited,
.headline a:hover
{
font-size: 30px;
    width: 100%;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
padding: 0;
font-family: arial;
font-size: 40px;
color: #111;
line-height: 0px;

  color: #FA6114 !important;
  white-space: nowrap;
}
#main-content {
    max-width: 1439px;
    margin: 0 auto;
    padding: 0;
}

.responsive{
    width: 100%;
    height: 0;
    padding-bottom: 56.26%;
    position: relative;
}
.responsive iframe{
    position: absolute;
    width: 100%;
    height: 200%;
    top:0;
    padding-top: 0;
    box-sizing:border-box;
}

.notresponsive iframe{
  width:100%;
  height:90px;
}

.img-banner2 {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
  .img-info h2 {
    padding: 0px 5px 0px;
    font-family: arial;
    font-size: 30px;
    color: #111;
    line-height: 0px;
  }

.gallery-position{
  position:relative;
  top:-3em;
}
  .img-info p {
    padding: 0px 5px 0px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
  }
  /* Dropdown menu start */
  ul.elmenu {
      list-style-type: none;
      margin-top: -5px;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li.elmenu {
      float: left;
    }

    li.elmenu a, .dropbtn.elmenu {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 12px 4px;
      text-decoration: none;
    }

    li.elmenu a:hover, .elmenu.dropdown:hover .elmenu.dropbtn {
      background-color: #e17843;
    }

    li.dropdown.elmenu {
      display: inline-block;
    }

    .elmenu.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .elmenu.dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .elmenu.dropdown-content a:hover {background-color: #f1f1f1;}

    .elmenu.dropdown:hover .elmenu.dropdown-content {
      display: block;
    }
   /* Drop-down menu end */
   .img-me {
       padding-top: 9px;
       width: 100%;
       display: block;
   }

   #contact{
     margin-top:400px;
   }

   @media only screen and (min-width:768px){
 .wrapper {
     width: 750px;
     margin: 0 auto;
   }

   .headline,
   .headline a,
   .headline a:link,
   .headline a:visited,
   .headline a:hover
   {
   padding: 10px 0px 27px 0px;

   }


 .img-banner2 {
   display: none;
 }
   .img-banner {
       display: block;
       width: 100%;
     }

   ul.elmenu {
       list-style-type: none;
       margin-top: -21px;
       padding: 0;
       overflow: hidden;
       background-color: #333;
     }
     li.elmenu a, .elmenu.dropbtn {
       padding: 12px 13px;
     }
   .img-info h2 {
       padding: 11px 0px 0px;
   }
   .img-info p {
       padding: 6px 0px 0px;
   }
   .img-me {
       padding-top:30px;
   }


}

   @media only screen and (min-width: 1100px){

     .img-banner2 {
       display: none;
     }
       .wrapper {
           width: 1100px;
       }

       .img-info p {
           padding: 20px 0px 0px 0px;
       }

       .elmenu.li a, .elmenu.dropbtn {
         display: inline-block;
         color: white;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
       }

       .img-me {
           padding-top: 0px;
           width: 50%;
           float: left;
       }
   }
